<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>create project</title>
</head>
{% extends 'layouts\base.html' %}
{% block content %}

<body>

    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <form action="" method="post" class="card card-body">
                    <h1>Create a new project</h1>
                    {{error}}
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-dark">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </main>

</body>
{% endblock %}
</html>