<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>projects</title>
</head>
{% extends 'layouts\base.html' %}
{% block content %}
<body>

    <h1>Projects Page</h1>

    {% for project in projects %}
       <div class="card">

           <a href="{% url 'project_detail' project.id %}">
               <h2>{{project.name}}</h2>
           </a>

       </div>
    {% endfor %}

</body>
{% endblock %}
</html>