<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>project detail</title>
    </head>
    {% extends 'layouts\base.html' %}
{% block content %}
<body>

    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <h1 class="text-secondary">{{project.name}}</h1>
                <ul class="list-group">
                    {% for task in tasks %}
                        <li class="list-group-item">
                            <a class="list-group-item" href="{% url 'task_detail' task.id %}">
                                {{task.title}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
</body>
{% endblock %}
</html>