<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>

{%extends 'layouts\base.html'%}
{%load static%}

{%block content%}
<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-4 mb-3">Bienvenido a CertiTrack+</h1>
      <p class="lead mb-4">
        CertiTrack+ es una plataforma integral para la gestión, control y documentación de auditorías y procesos de certificación.<br>
        Optimiza el seguimiento de auditorías, centraliza la información crítica y automatiza recordatorios para asegurar el cumplimiento normativo y la renovación oportuna de certificaciones.
      </p>
      <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item">✔️ Gestión centralizada de auditorías y certificaciones</li>
        <li class="list-group-item">✔️ Alertas automáticas de vencimientos y tareas</li>
        <li class="list-group-item">✔️ Reportes audit-ready y paneles intuitivos</li>
        <li class="list-group-item">✔️ Colaboración eficiente entre equipos y clientes</li>
      </ul>
      <a href="{% url 'about' %}" class="btn btn-primary btn-lg">Conoce más sobre CertiTrackPlus</a>
    </div>
  </div>
</div>



</body>
{%endblock%}
</html>