<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Programación</title>
    <style>
        body { font-family: Arial, sans-serif; }
        table { width: 100%; border-collapse: collapse; margin-top: 10px; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
    <h2>Programación de Auditoría</h2>
    <table>
        <tr>
            <th>Número de Servicio</th>
            <td>{{ programacion.cotizacion.numero_servicio }}</td>
        </tr>
        <tr>
            <th>Nombre del Establecimiento</th>
            <td>{{ programacion.cotizacion.solicitud.cliente.nombre_establecimiento }}</td>
        </tr>
        <tr>
            <th>NIT</th>
            <td>{{ programacion.cotizacion.solicitud.cliente.nit }}</td>
        </tr>
        <tr>
            <th>Representante</th>
            <td>{{ programacion.cotizacion.solicitud.cliente.representante_legal }}</td>
        </tr>
        <tr>
            <th>Teléfono</th>
            <td>{{ programacion.cotizacion.solicitud.cliente.telefono_celular }}</td>
        </tr>
        <tr>
            <th>Correo</th>
            <td>{{ programacion.cotizacion.solicitud.cliente.correo_electronico }}</td>
        </tr>
        <tr>
            <th>Dirección</th>
            <td>{{ programacion.cotizacion.solicitud.cliente.direccion }}</td>
        </tr>
        <tr>
            <th>Ciudad</th>
            <td>{{ programacion.cotizacion.solicitud.cliente.ciudad }}</td>
        </tr>
        <tr>
            <th>Departamento</th>
            <td>{{ programacion.cotizacion.solicitud.cliente.departamento }}</td>
        <tr>
            <th>Tipo de Servicio</th>
            <td>
                {% for servicio in programacion.cotizacion.tipo_servicio.all %}
                    {{ servicio.nombre }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No especificado
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Nivel del CEA</th>
            <td>{{ programacion.cotizacion.solicitud.cliente.nivel_cea }}</td>
        </tr>
        <tr>
            <th>Categorías</th>
            <td>{{ programacion.cotizacion.solicitud.cliente.categorias_certificar }}</td>
        </tr>
        <tr>
            <th>Observaciones</th>
            <td>{{ programacion.cotizacion.observaciones }}</td>
        </tr>
        <tr>
            <th>Auditor</th>
            <td>{{ programacion.auditores.nombre }}</td>

        </tr>

        <tr>
            <th>Fecha Etapa 1</th>
            <td>{{ programacion.fecha_programacion_etapa1 }} - {{ programacion.hora_etapa1 }}</td>
        </tr>
        <tr>
            <th>Fechas Etapa 2</th>
            <td>
                <ul>
                    {% for fecha_etapa2 in programacion.fechas_etapa2.all %}
                        <li>{{ fecha_etapa2.fecha }} - {{ fecha_etapa2.hora }} - {{fecha_etapa2.dias_auditoria}} días</li>
                    {% empty %}
                        <li>No asignadas</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

</body>
</html>
