{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Listado de Programaciones</h1>

    <table>
        <thead>
            <tr>
                <th>Cotización</th>
                <th>Cliente</th>
                <th>Nivel de Auditoría</th>
                <th>Fecha Programación Etapa 1</th>
                <th>Hora Etapa 1</th>
                <th>Días Etapa 1</th>
                <th>Fechas Etapa 2</th>
                <th>Auditores</th>
                <th>IAF MD4 Confirmado</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for programacion in programaciones %}
                <tr>
                    <td>{{ programacion.cotizacion.numero_servicio }}</td>
                    <td>{{ programacion.cotizacion.solicitud.cliente.nombre_establecimiento }}</td>
                    <td>{{ programacion.nivel_auditoria }}</td>
                    <td>{{ programacion.fecha_programacion_etapa1 }}</td>
                    <td>{{ programacion.hora_etapa1 }}</td>
                    <td>{{ programacion.dias_etapa1 }}</td>
                    <td>
                        <ul>
                            {% for fecha_etapa2 in programacion.fechas_etapa2.all %}
                                <li>{{ fecha_etapa2.fecha }} - {{ fecha_etapa2.hora }} - {{fecha_etapa2.dias_auditoria}} días</li>
                            {% empty %}
                                <li>No asignadas</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for auditor in programacion.auditores.all %}
                                <li>{{ auditor.nombre }} {{ auditor.apellido }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ programacion.iaf_md4_confirmado }}</td>
                    <td>{{ programacion.estado }}</td>
                    <td>
                        <a href="{% url 'programar_auditoria' programacion.cotizacion.id %}">Editar</a>
                        <a href="{% url 'imprimir_programacion' programacion.id %}">Imprimir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}