{% extends 'layouts/base.html' %}
{% block content %}
<body>
    <h2>Crear Cotización</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <label for="id_precio_iva"></label>


    <label for="id_precio_total"></label>


    <button type="submit">Guardar Cotización</button>
    </form>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let precioNetoInput = document.getElementById("id_precio_neto");
        let precioIVAInput = document.getElementById("id_precio_iva");
        let precioTotalInput = document.getElementById("id_precio_total");

        precioNetoInput.addEventListener("input", function() {
            let precioNeto = parseFloat(precioNetoInput.value) || 0;
            let iva = precioNeto * 0.19;  // 19% de IVA
            let total = precioNeto + iva;

            precioIVAInput.value = iva.toFixed(2);
            precioTotalInput.value = total.toFixed(2);
        });
    });
</script>

</body>
{% endblock %}
</html>
