{% extends 'layouts/base.html' %}

{% block title %}Editar Cotización{% endblock %}

{% block content %}

<body>
    <h2>Detalles de la Cotización</h2>
{% if cotizacion %}
    <p><strong>ID:</strong> {{ cotizacion.id }}</p>
    <p><strong>Cliente:</strong> {{ cliente.nombre_propietario }}</p>
    <p><strong>Estado:</strong> {{ cotizacion.solicitud.estado }}</p>
    <p><strong>Precio Neto:</strong> {{ cotizacion.precio_neto }}</p>
    <h2>Detalle de solicitud</h2>

    <p><strong>Número de Servicio:</strong> {{ cotizacion.numero_servicio }}</p>
    <p><strong>Nombre del Establecimiento Comercial:</strong> {{ cliente.nombre_establecimiento }}</p>
    <p><strong>NIT:</strong> {{ cliente.nit }}</p>
    <p><strong>Nombre del Representante:</strong> {{ cliente.representante_legal }}</p>
    <p><strong>Teléfono:</strong> {{ cliente.telefono_celular }}</p>
    <p><strong>Correo:</strong> {{ cliente.correo_electronico }}</p>
    <p><strong>Dirección:</strong> {{ cliente.direccion }}</p>
    <p><strong>Ciudad:</strong> {{ cliente.ciudad }}</p>
    <p><strong>Departamento:</strong> {{ cliente.departamento }}</p>
    <p><strong>Tipo de Servicio:</strong> {{ cotizacion.tipo_servicio }}</p>
    <p><strong>Nivel del CEA:</strong> {{ cliente.nivel_cea }}</p>
    <p><strong>Categorías:</strong> {{ cliente.categorias_certificar }}</p>

{% else %}
    <p>No se encontró la cotización.</p>
{% endif %}

</body>

{% endblock %}