<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>listado_cotizaciones</title>
</head>

{% extends 'layouts/base.html' %}
{% block content %}
<body>

    <h2>Lista de Cotizaciones</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Acción</th>
    </tr>
    {% for cotizacion in cotizaciones %}
    <tr>
        <td>{{ cotizacion.id }}</td>
        <td>{{ cotizacion.solicitud.cliente.nombre_establecimiento }}</td>
        <td>{{ cotizacion.fecha_cotizacion }}</td>
        <td>{{ cotizacion.estado }}</td>
        <td><a href="{% url 'detalle_cotizacion' cotizacion.id %}">Ver</a></td>
        <td><a href="{% url 'editar_cotizacion' cotizacion.id %}">Modificar</a></td>
        <td><a href="{% url 'programar_auditoria' cotizacion.id %}" class="btn btn-sm btn-info">Crear Programación</a></td>

    </tr>
    {% endfor %}
</table>

</body>

{% endblock %}
</html>