<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>listado_solicitudes.html</title>
</head>
{% extends 'layouts/base.html' %}
{% block content %}
<body>
  <h2>Solicitudes para Cotización</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>NIT</th>
        <th>Estado</th>
        <th>Acción</th>
    </tr>
    {% for solicitud in solicitudes %}
    <tr>
        <td>{{ solicitud.id }}</td>
        <td>{{ solicitud.cliente.nombre_establecimiento }}</td>
        <td>{{ solicitud.cliente.nit }}</td>  <!-- Mostramos el NIT -->
        <td>{{ solicitud.estado }}</td>
        <td><a href="{% url 'crear_cotizacion' solicitud.id %}">Crear Cotización</a></td>
    </tr>
    {% endfor %}
</table>

</body>
{% endblock %}
</html>