<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consulta de Cliente por NIT</title>
</head>
{% extends 'layouts/base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <h2>Consulta por NIT</h2>

            <!-- Mostrar errores si existen -->
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <label for="id_nit">NIT:</label>
                <input type="text" name="nit" id="id_nit" class="form-control" placeholder="Ingrese el NIT" required>

                <!-- Campo de fecha -->
                <label for="id_fecha_solicitud">Fecha de Solicitud:</label>
                {{ form.fecha_solicitud }}

                <button class="btn btn-dark mt-3" type="submit">
                    Consultar Cliente
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}

